.frase{
    font-size: 20px;
}

.campo-digitacao{
    font-size: 20px;
    height: 150px;
    outline: none;
    
}

.campo-desativado{
    background-color: lightgray;
}

.icones{
    vertical-align: middle;
}

.borda-verde{
    border: 3px solid green;
}

.borda-vermelha{
    border: 3px solid red;
}