.frase{
    font-size: 20px;
}

.campo-digitacao{
    font-size: 20px;
    height: 150px;
    outline: none;
    
}

.campo-desativado{
    background-color: lightgray;
}

.icones{
    vertical-align: middle;
}

.borda-verde{
    border: 3px solid green;
}

.borda-vermelha{
    border: 3px solid red;
}

.placar{
    display: none;
}

body{
    overflow: scroll;
}

#erro{
    color: red;
    display: none;
}

#spinner{
    display: none;
}

#frase-id{
    width: 40px;
}

#btn-sync{
    float: right;
}

.select-usuario{
    display: inline-block;
}

.selectize-input{
    width: 150px;
    vertical-align: middle;
}

#usuarios{
    display: block;
}